html,* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary:#F8B468;
    --bg-secondary: #F98144;
    --bg-font: #ffff;
    --bg-kesekian: #007077;
    --bg-kesekian1: #054854;
    --bg-kesekian2: #102B33
    
}

body {
    background-image: url('media/16665ea212f3c36ca43255e5b8d82a8d2.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

header {
    color: var(--bg-font);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

nav {
    /* background-color: var(--bg-kesekian); */
    color: var(--bg-kesekian2);
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    background-color: var(--bg-primary);
    color: var(--bg-font);
    width: 100%;
    height: 50px;
    list-style-type: none;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    border-radius: 30px;
}

li {
    background-color: var(--bg-kesekian);
    width: 100px;
    height: 25px;
    border-radius: 15px;
    display: grid;
    place-items: center;
}

